.body {
    display: flex;
    flex-direction: column;
}

.container-1{
    
}

.header-1 {
    display: flex;
    justify-content: space-between;
}
 
.list {
    display: flex;
    gap: 20px;
}


.header-1 img {
    height: 50px;
    width: auto;
}